<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/add"/>Add a To Do item</a><br />
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        <tr th:each="todoitem : ${todos}">
            <td th:text="${todoitem.title}"></td>
            <td th:text="${todoitem.content}"></td>
             <td>
                <a th:href="@{/update/{id}(id=${todoitem.id})}">Update</a> -
                <a th:href="@{/detail/{id}(id=${todoitem.id})}">Details</a> -
                <a th:href="@{/delete/{id}(id=${todoitem.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>